body{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.calculator{
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    /* text-align: center; */

}

/* .calculator{
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(-50%, -50%);
} */

#calculator-display{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: right;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.previousNumber{
    font-size: 15px;
}

button{
    width: 50px;
    height: 50px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    

}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.operator{
    background-color: #f5a623;
    color: white;
}

.equals-button{
    background-color: #21bf73;
    color: white;
    grid-row-start: 2;
}

.clear-button{
    background-color: #21bf73;
    color: aliceblue;
}